{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}

    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="state" type="text" pattern=".{2,}"   required title="Can not leave the field empty" placeholder="State">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="district" type="text" pattern=".{2,}"   required title="Can not leave the field empty" placeholder="District">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="market" type="text" pattern=".{2,}"   required title="Can not leave the field empty" placeholder="Market">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="commodity" type="text" pattern=".{2,}"   required title="Can not leave the field empty" placeholder="Commodity">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="variety" type="text" pattern=".{2,}"   required title="Can not leave the field empty" placeholder="Variety">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <div class="alert alert-primary" role="alert">
        Know the Prices per Quintal of fruits and vegetables at markets.
    </div>

{% endblock %}