{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="first_name" type="text" pattern=".{1,}"  required title="Can not have the field empty" placeholder="First Name">
        </div>
	<div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="last_name" type="text" pattern=".{1,}"  required title="Can not have the field empty" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" type="text" pattern=".{1,}"  required title="Can not have the field empty" placeholder="Username">
        </div>
	<div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="dob" type="date" pattern=".{1,}"  required title="Can not have the field empty">
        </div>
	<div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email_id" type="email" pattern=".{1,}"  required title="Can not have the field empty" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" minlength="8" pattern=".{1,}"  required title="Can not have the field empty" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password_confirm" type="password" pattern=".{1,}"  required title="Can not have the field empty" placeholder="Confirm Your Password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <br>


    <div class="alert alert-success">
        <h4>
            Register to be a part of the <b>MVDB</b> community.
            <br>
        </h4>
        <h7>
            Created by <b>Hirmay Sandesara</b>, <b>Rohan Parikh</b> and <b>Tirth Patel</b>.
        </h7>
    </div>
{% endblock %}