{% extends "layout.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<h2>{{ option }}</h2>
{% if option == 'Movie' %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
            <th scope="col">
              No.
            </th>
            <th scope="col">
              Name
            </th>
      </tr>
    </thead>
    <tbody>
            
          {% for m in range(1, l+1)%}
          <tr>
          <th scope="col">
              {{ m }}
          </th>
          <th scope = "col">
	      {% if session.username == "admin" %}
              		<a class="nav-link" href={{ url_for('delete_movie', movie_id=results[m-1][0]) }}>{{ results[m-1][1]  }}</a></li>	
	      {% else %}
			<a class="nav-link" href={{ url_for('movie', movie_id=results[m-1][0]) }}>{{ results[m-1][1]  }}</a></li>
	      {% endif %}		
          </th>
            
          {% endfor %}
          </tr>

    </tbody>

  </table>

{% elif option=='Celebrity' %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
            <th scope="col">
              No.
            </th>
            <th scope="col">
              Name
            </th>
      </tr>
    </thead>
    <tbody>
            
          {% for m in range(1, l+1)%}
          <tr>
          <th scope="col">
              {{ m }}
          </th>
          <th scope = "col">
	      {% if session.username == "admin" %}
              		<a class="nav-link" href={{ url_for('delete-celebrity', person_id=results[m-1][0]) }}>{{ results[m-1][1]  }}</a></li>	
	      {% else %}		
              		<a class="nav-link" href={{ url_for('celebrity', person_id=results[m-1][0]) }}>{{ results[m-1][1]  }}</a></li>
          	{% endif %}
	  </th>
            
          {% endfor %}
          </tr>

    </tbody>

  </table>
{% else %}

{% endif %}



</doctype>
{% endblock %}