{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<h2>{{ option }}</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
          <th scope="col">
            No.
          </th>
          <th scope="col">
            Name
          </th>
    </tr>
  </thead>
  <tbody>
        <!-- {count = 1} -->
        {% for m in range(1, 2)%}
        <tr>
        <th scope="col">
            {{ results[0] }}
        </th>
        <th scope = "col">
            <a class="nav-link" href={{ url_for('movie', movie_id=results[m-1][0]) }}>{{ results[m-1][1]  }}</a></li>
        </th>
        
    {% endfor %}
         </tr>

  </tbody>

</table>


</doctype>
{% endblock %}