{% extends "layout.html" %}

{% block title %}
    Watchlist
{% endblock %}


{% block main %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
              <th scope="col">
                No.
              </th>
              <th scope="col">
                Name
              </th>
              <th scope="col">
                Remove from wishlist
              </th>
        </tr>
      </thead>
      <tbody>
            <!-- {count = 1} -->
            {% for m in range(1, l + 1)%}
            <tr>
            <th scope="col">
                {{ m }}
            </th>
           {% for i in [1] %}
               {% if movies[m-1][i]==None %}
                   {% continue %}
               {% endif %}
	       {% if i==1 %}
               		<th scope = "col">
                    		<a class="nav-link" href={{ url_for('movie', movie_id=movies[m-1][0]) }}>{{ movies[m-1][i]  }}</a></li>
               		</th>

	       {% else %}
               		<td>
                    		<form method="post">
                          <input type="submit" value="Removed from wishlist" name="removewishlist"/> 
                        </form>
                      </td>
               {% endif %}
            {% endfor %}
            
        {% endfor %}
             </tr>

      </tbody>

    </table>
{% endblock %}